# Credenciales de Supabase (NO subir el archivo .env real a Git)
# Estas las obtenes en: Supabase > Project Settings > API
SUPABASE_URL=https://rvrkkwkuktntfrqvtofd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2cmtrd2t1a3RudGZycXZ0b2ZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE4NTg1MiwiZXhwIjoyMDk0NzYxODUyfQ.HvfXVncd7OgQzQnwf_4vVjOrE5qUJTX0zi2L2uvydHU
